*{
     margin: 0;
     padding: 0;
     font-family: 'poppins' , sans-serif;
     box-sizing: border-box;
     outline: none;
}
body{
     display: flex;
     min-height: 100vh;
     align-items: center;
     justify-content: center;
    
}

.container{
     width: 360px;
     background: black;
     /* box-shadow: 0 0 8px rgba(250, 250, 250, 0.6); */
     

}
.container form{
     width: 100%;
     text-align: center;
     padding: 25px 20px;
}
form h3{
     padding: 10px 0;
     color: aqua;
}
form .id{
     position: relative;
     
}
form input{
     width: 100%;
     height: 50px;
     margin: 4px 0;
     border-radius: 3px ;
     border: 1px solid aqua;
     background: #000;
     padding: 0 15px;
     font-size: 20px;
     color: aqua;
}
form textarea{
     padding: 5px 15px;
     border: 1px solid aqua;
     border-radius: 3px;
     background: black;
     font-size: 20px;
     width: 100%;
     margin: 4px 0;
     color: aqua;
}

button{
     margin-top: 5px;
     border: none;
     background-color: aqua;
     padding: 10px 0;
     width: 100%;
     font-size: 20px;
     font-weight: 800;
}